* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:hsl(212, 45%, 89%);
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 100%;

    text-align: center;
    padding: 1.3rem;
}


.image img {
    border-radius: 20px;
}

.text {
    width: 280px;
}

.text h1 {
    font-size: 1.2rem;
    color: hsl(218, 44%, 22%);
    margin: 1.3rem 0px;
}

.text p {
    font-size: 0.9375rem;
    color:hsl(220, 15%, 55%);
    margin-bottom: 0.9375rem;
}